# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Oliver Pope
	email = popeoliv@msu.edu
	signingKey = false
[init]
	defaultBranch = main
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[commit]
	gpgSign = false
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
	format = ssh
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
